<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if !session[:current_user_id] %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Register</a></li>
        <% else %>
          <li><%= link_to "Logout", logout_url %></li>
          <li><a href="/users/<%= current_user.id%>"><%= current_user.username %></a></li>
          <li><a href="/users/<%= current_user.id %>/posts/new">New Post</a></li>

        <% end %>
        <li id="home"><a href="/posts">Home</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
