<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/posts">Home</a></li>
        <% if !session[:current_user_id] %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Register</a></li>
        <% else %>
          <li><a href="/users/<%= current_user.id%>">Your Profile</a></li>
          <li><a href="users/<%= current_user.id %>/posts/new">New Post</a></li>
          <%= link_to "Sign out", logout_url %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
